@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container{
    max-width: 980px;
    margin: auto;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 50px 90px;
}

header .header-icons-container{
    background: #47cfac;
    display: grid;
    width: 100%
}

header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-self: end;
    justify-content: space-between;
    margin-right: 50px;
}

header .icons span{
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

.nav-logo-container{
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}

.profile-link{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    align-items: center;
}

nav .profile-link a{
    border-bottom: 1px solid black;
    font-size: 2.5rem;
}

.hero{
    background-image: url(../assets/img/coverr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.hero .hero-description{
    margin-top: 50px;
    font-size: 4rem;
    letter-spacing: 1rem;
}

.hero .hero-cta{
    align-self: start;
    justify-self: center;
}

.hero .hero-cta button{
    margin-top: 40px;
    width: 150px;
    height: auto;
    padding: 15px;
    background-color: #8AEA92;
    border-radius: 10px;
    border: none;
}

.hero .hero-cta button a{
    font-weight: bold;
    font-size: 1.4rem;
}

.hero .hero-cta button:hover{
    background-color: #47cfac;
    transform: scale(1.1);
    border: none;
}

.hero img{
    width: 100%;
    height: 100%;
}

/* Blogs-section */

main{
    display: grid;
}

.principal-blog-container{
    width: 100%;
    height: 450px;
    background-color: #e6e9ed;
    align-items: center;
    padding-top: 20px;
}

.principal-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 50px 40px;
    font-size: 4rem;
}

.principal-blog__image{
    justify-self: center;
}

.principal-blog__image p{
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 3px;
}


.principal-blog__image img{
    width: 85%;
    height: 350px;
    margin-top: 15px;
}

.principal-blog__description{
    justify-items: center;
    font-size: 2.7rem;
    letter-spacing: 2.7px;
    align-self: center;
}

.principal-blog__description h2{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 3.1rem;
    letter-spacing: 2.5px;

}

.read-more__button{
    background-color: transparent;
    padding: 5px;
    border: 1px solid #8AEA92;
    width: 80px;
    margin-top: 20px;
    font-weight: bold;
}

.read-more__button:hover{
    background-color: #8AEA92;
    border: 1px solid black;
}

/* seccion grid */

.blogposts{
    height: auto;
    margin-bottom: 100px;
}

.blogposts-title{
    margin: 30px auto;
    font-size: 3.8rem;
    width: 100%;
    text-align: center;
}

.blogposts-grid{
    display: grid;
    width: 100%;
    grid-template-columns: minmax(300px, 320px) minmax(300px, 320px) minmax(300px, 320px);
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    justify-content: center;
}

.blogposts-grid--item__image{
    width: 320px;
    margin-top: 20px;
}

.blogposts-grid--item{
    font-size: 3.1rem;
}

.blogposts-grid--item__title{
    margin: 15px 0px 30px 0px;
}

.blogposts-grid--item__desc{
    margin: 20px 0px;
}

.blogposts-grid--item__cta{
    padding: 15px;
}

/* Estilos del footer */

footer{
    display: grid;
    grid-template-rows: 30px 70px;
}

.separate{
    background-color: #8AEA92;
}

footer .footer-desc{
    color: white;
    background: #22272d;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1180px){
    .principal-blog__description{
    justify-items: center;
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    margin-right: 200px;
}

.principal-blog__description h2{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2.7rem;
    letter-spacing: 2.5px;
}

.principal-blog{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 50px 40px;
    font-size: 4rem;
    width: 100%;
    height: 450px;
    background-color: #e6e9ed;
    align-items: center;
}
}


